<ion-list *ngIf="eventos.length > 0; else sinEventos">
  <ion-item *ngFor="let evento of eventos">
    <ion-label>
      <h2>{{ evento.hora }} - {{ evento.descripcion }}</h2>
    </ion-label>
    <ion-select [(ngModel)]="evento.completado" interface="popover">
      <ion-select-option value="Sí">Sí</ion-select-option>
      <ion-select-option value="No">No</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<ng-template #sinEventos>
  <ion-item>
    <ion-label>No hay eventos para esta fecha.</ion-label>
  </ion-item>
</ng-template>
